/* styling search bar */
.search input[type=text]{
    width:300px;
    height:25px;
}
     
.search{
    float:right;
    margin:7px;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }