<div class="container-fluid">
  <div class="row">
    <div class="col-md-3" *ngIf="appState == 'default'">
      <div class="mt-5">
        <h2 class="text-center mb-3">Add/Update</h2>
        <form #userForm="ngForm">
          <div class="form-group">
            <label for="name">Name*</label>
            <input
              type="text"
              name="name"
              class="form-control"
              id="name" #name = "ngModel"
              [(ngModel)]="formDetails.name" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)"
              required
            />
            <div *ngIf="name.errors &&(name.touched)" class ="invalid-feedback">
              <div [hidden]="!name.errors?.pattern">
                Name is Required
              </div> 
             </div> 
          </div>
          <div class="form-group">
            <label>Gender*</label>
            <br />
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio" id="male" name="gender"
                value="Male" #gender="ngModel"
                [(ngModel)]="formDetails.gender"
                name="gender"
              />
              <div *ngIf="gender.errors &&(gender.touched)" class ="alert alert-danger">
                <div [hidden]="!gender.errors?.pattern">
                  Gender Required
                </div> 
               </div> 
              <label class="form-check-label" for="male">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                value="Female" name="gender" #gender="ngModel"
                [(ngModel)]="formDetails.gender"
                name="gender"
              />
              <div *ngIf="gender.errors &&(gender.touched)" class ="alert alert-danger">
                <div [hidden]="!gender.errors?.pattern">
                  Gender is Required
                </div> 
               </div> 
              <label class="form-check-label" for="inlineRadio2">Female</label>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email ID*</label>
            <input
              type="email"
              name="email" #email="ngModel"
              class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
              [(ngModel)]="formDetails.email"
              required
            />
            <div *ngIf="email.errors &&(email.touched)" class ="alert alert-danger">
              <div [hidden]="!email.errors?.pattern">
                Invalid Email
              </div> 
             </div> 
          </div>
          <div class="form-group">
            <label for="mobile">Mobile*</label>
            <input
              type="number"
              name="mobile"
              class="form-control" minlength="10" maxlength="10"
              #mobile="ngModel"
              [(ngModel)]="formDetails.mobile"
              required
            />
            <div *ngIf="mobile.errors &&(mobile.touched)" class ="alert alert-danger">
              <div [hidden]="!mobile.errors?.pattern">
                Mobile is Required
              </div> 
             </div> 
          </div>
          <div class="form-group">
            <label for="about">About Me*</label>
            <textarea
              type="text"
              name="about"
              class="form-control" #about="ngModel"
              [(ngModel)]="formDetails.about"
              required
            ></textarea>
            <div *ngIf="about.errors &&(about.touched)" class ="alert alert-danger">
              <div [hidden]="!about.errors?.pattern">
                Invalid pattern
              </div> 
             </div> 
          </div>
          <div class="form-group">
            <label class="mr-2" for="about">Add Hobbies*: </label>
            <button type="button" class="btn btn-primary mb-2" (click)="addHobby()">Add Hobbies</button>

            <div style="display: flex" *ngFor="let hobby of formDetails.hobbies; let i = index"> 
              <input style="width: 200px" class="form-control input-sm" type="text" [(ngModel)]="hobby.hobbyList" name="hobbyList{{i}}">
              <button type="button" class="btn btn-light mt-0 mb-2 ml-2" (click)="removevalue(i)">Remove</button>
            </div>
          </div>
          <div class="btn-group">
            <button
              type="submit"
              class="btn btn-primary mr-2" (click)="addUser()"
              >
              Submit
            </button>
            <button type="button" class="btn btn-primary ml-0" (click)="userForm.reset()">Reset</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-3" *ngIf="appState == 'edit'">
      <div class="mt-5">
        <h2 class="text-center mb-3">Add/Update</h2>
        <form #userForm="ngForm">
          <div class="form-group">
            <label for="name">Name*</label>
            <input
              type="text"
              name="name"
              class="form-control"
              id="name" #name = "ngModel"
              [(ngModel)]="formDetails.name" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)"
              required
            />
            <div *ngIf="name.errors &&(name.touched)" class ="invalid-feedback">
              <div [hidden]="!name.errors?.pattern">
                Name is Required
              </div> 
             </div> 
          </div>
          <div class="form-group">
            <label>Gender*</label>
            <br />
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio" id="male" name="gender"
                value="Male" #gender="ngModel"
                [(ngModel)]="formDetails.gender"
                name="gender"
              />
              <div *ngIf="gender.errors &&(gender.touched)" class ="alert alert-danger">
                <div [hidden]="!gender.errors?.pattern">
                  Gender Required
                </div> 
               </div> 
              <label class="form-check-label" for="male">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                value="Female" name="gender" #gender="ngModel"
                [(ngModel)]="formDetails.gender"
                name="gender"
              />
              <div *ngIf="gender.errors &&(gender.touched)" class ="alert alert-danger">
                <div [hidden]="!gender.errors?.pattern">
                  Gender is Required
                </div> 
               </div> 
              <label class="form-check-label" for="inlineRadio2">Female</label>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email ID*</label>
            <input
              type="email"
              name="email" #email="ngModel"
              class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
              [(ngModel)]="formDetails.email" [email]="true"
              required
            />
            <div *ngIf="email.errors &&(email.touched)" class ="alert alert-danger">
              <div [hidden]="!email.errors?.pattern">
                Invalid Email
              </div> 
             </div> 
          </div>
          <div class="form-group">
            <label for="mobile">Mobile*</label>
            <input
              type="number"
              name="mobile"
              class="form-control" minlength="10" maxlength="10"
              #mobile="ngModel"
              [(ngModel)]="formDetails.mobile"
              required
            />
            <div *ngIf="mobile.errors &&(mobile.touched)" class ="alert alert-danger">
              <div [hidden]="!mobile.errors?.pattern">
                Mobile is Required
              </div> 
             </div> 
          </div>
          <div class="form-group">
            <label for="about">About Me*</label>
            <textarea
              type="text"
              name="about"
              class="form-control" #about="ngModel"
              [(ngModel)]="formDetails.about"
              required
            ></textarea>
            <div *ngIf="about.errors &&(about.touched)" class ="alert alert-danger">
              <div [hidden]="!about.errors?.pattern">
                Invalid pattern
              </div> 
             </div> 
          </div>
          <div class="form-group">
            <label class="mr-2" for="about">Add Hobbies*: </label>
            <button type="button" class="btn btn-primary mb-2" (click)="addHobby()">Add Hobbies</button>

            <div style="display: flex" *ngFor="let hobby of formDetails.hobbies; let i = index"> 
              <input style="width: 200px" class="form-control input-sm" type="text" [(ngModel)]="hobby.hobbyList" name="hobbyList{{i}}">
              <button type="button" class="btn btn-light mt-0 mb-2 ml-2" (click)="removevalue(i)">Remove</button>
            </div>
          </div>
          <div class="btn-group">
            <button
              type="submit"
              class="btn btn-primary mr-2" (click)="updateUser()"
            >
              Submit
            </button>
            <button type="reset" class="btn btn-secondary ml-0"(click)="userForm.reset()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-9">
      <div class="mt-5">
        <div>
          <h2 class="mb-3">User List</h2>
          <div class="search">
            <form>
              <label for="search">Search by Name &nbsp;&nbsp;&nbsp;</label>
              <input style="width:200px; margin-right:200px" type="text" autocomplete="off" placeholder=" Search" name="search" [(ngModel)]="searchText" />
            </form>
          </div>
        </div>
        <table class="table table-responsive">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Gender</th>
              <th scope="col">Email</th>
              <th scope="col">Mobile</th>
              <th scope="col">About me</th>
              <th scope="col">Hobbies</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of formData | filter:searchText">
              <td>{{ user?.name }}</td>
              <td>{{ user?.gender }}</td>
              <td>{{ user?.email }}</td>
              <td>{{ user?.mobile }}</td>
              <td>{{ user?.about }}</td>
              <td><p *ngFor="let data of user.hobbies">
                {{ data.hobbyList }} </p>
              </td>
              <td>
                <button
                  class="btn btn-sm btn-primary mr-2"
                  data-toggle="modal"
                  data-target="#exampleModal"
                  (click)="fetchData(user)"
                >
                  Edit
                </button>
                <button
                  class="btn btn-sm btn-danger"
                  (click)="deleteUser(user)"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

